.custom-checkbox {
    width: 15px;
    height: 15px;
    margin: 0px;
    margin-right: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 2px solid lightblue;
    box-shadow: none;
    font-size: 2em;
}

.custom-checkbox:checked {
    background: #00002a;
}

.big-textbox {
    width: 100%;
    height: 40px !important;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.big-dropdown {
    width: 100%;
    height: 40px !important;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.save-btn {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #000051;
    border: 0;
    border-bottom: 2px solid #00002a;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #00002a;
    box-shadow: inset 0 -2px #00002a;
}

.save-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.menu-title-item {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.menu-line {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-bottom: 1px solid #eee;
    border-top: 0;
}

.page-line {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.small-date {
    font-size: 75%;
    color: #999;
}

table th.last {
    width: 50px;
}

.trumbowyg-box {
    margin: 0 auto !important;
}

th {
    text-align: left;
}

figure {
    border: 1px solid #282828;
    cursor: pointer;
    transition: transform .5s;
}

figcaption {
    padding: 5px;
}

figure img {
    width: 100%;
}

.site-title-sidebar {
    font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
    color: white;
    margin: 0;
}

.button-actions {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1160px) {
    .sidebar-about {
        margin-bottom: 20px;
    }
}

.sidebar {
    background: #000051;
}

.error_message {
    display: block;
    color: red;
}

.success_message {
    display: block;
    color: green;
}

.delete-button{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    color: #0086b3;
    text-decoration: none;
    cursor: pointer;
}

.pagination-admin{
    padding: 30px 0;
    text-align: center;
    float: left;
    width: 100%;
  }

.pagination-admin ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-admin a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    text-decoration: none;
}

.pagination-admin li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    display: inline-block;

}

.pagination-admin li.active{
    background-color: #000051;
    border-radius: 100%;
    color: #fff;
}


.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    padding: 12px;
    background-color: #f44336;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 200px;
    float: right;
    margin: 10px 10px 0 0;
  }



.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: .2;
    background: transparent;
    border: none;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
/* .alert {
    border: none;
    border-radius: 0.15rem;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    border-left: 0.5em solid transparent;
}
.alert .alert-link {
    text-decoration: underline;
    color: inherit;
} */

.page-title-block{
    display: table;
    width: 100%;
}

.new-button{
    display: table-cell;
    vertical-align: middle;
    width: 18px;
}

/* image */


.image-container {
    width: 240px;
    height: 225px;
    margin-right: 10px;
    border: 1px solid black;
    position: relative;
    display:inline-block;
}

.img-title{
    width: calc(100% - 30px);
    float: left;
}

.image-gallery-img{
    height: 100%;
    object-fit: cover;
}


 .image-title {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    background: black;
    opacity: 0.6;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    display:none;
    transition: 0.8s;

 }

 .image-container:hover .image-title {
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
}

.image-container i{
    color: white;
}

/* File upload */


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px; margin-bottom: 10px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.btn{
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    background: #000051;
}
