.custom-checkbox {
    width: 15px;
    height: 15px;
    margin: 0px;
    margin-right: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 2px solid lightblue;
    box-shadow: none;
    font-size: 2em;
}

.custom-checkbox:checked {
    background: #00002a;
}

.big-textbox {
    width: 100%;
    height: 40px !important;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.big-dropdown {
    width: 100%;
    height: 40px !important;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.save-btn {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #000051;
    border: 0;
    border-bottom: 2px solid #00002a;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #00002a;
    box-shadow: inset 0 -2px #00002a;
}

.save-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.menu-title-item {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.menu-line {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-bottom: 1px solid #eee;
    border-top: 0;
}

.page-line {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

.small-date {
    font-size: 75%;
    color: #999;
}

table th.last {
    width: 50px;
}

.trumbowyg-box {
    margin: 0 auto !important;
}

th {
    text-align: left;
}

figure {
    border: 1px solid #282828;
    cursor: pointer;
    transition: transform .5s;
}

figcaption {
    padding: 5px;
}

figure img {
    width: 100%;
}

.site-title-sidebar {
    font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
    color: white;
    margin: 0;
}

.button-actions {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1160px) {
    .sidebar-about {
        margin-bottom: 20px;
    }
}

.sidebar {
    background: #000051;
}

.error_message {
    display: block;
    color: red;
}

.success_message {
    display: block;
    color: green;
}
